.movies-cardlist{
    max-width: 1140px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

@media(max-width:622px){
    .movies-cardlist{
        align-content: space-around;
        flex-direction: column;
    }
}