.student__avatar{
    width: 270px;
    height: 327px;
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 4;
    border-radius: 10px;
    justify-self: end;
}
@media(max-width: 642px){
    .student__avatar{
        width: 100%;
        height: 120vw;
        grid-column-start: 1;
        margin: 0 auto;
        grid-column-end: span 2;
        margin-bottom: 40px;
    }
}