.profile__button{
    margin-top: 69px;
    max-width: 396px;
    width: 100%;
    height: 45px;
    font-size: 13px;
    line-height: 16px;
    color: black;
    border: none;
    background-color: white;
}