.about__head{
    font-size: 22px;
    line-height: 27px;
    font-weight: 400;
    text-align: start;
    max-width: 550px;
    padding: 0;
    margin-top: 70px;
    letter-spacing: -0.04em;
}

@media(max-width: 520px){
    .about__head{
        font-size: 18px;
        line-height: 22px;
    }
}