.about__heading{
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    text-align: start;
    padding: 0;
    margin-top: 70px;
}

@media(max-width:520px){
    .about__heading{
        margin-top: 60px;
    }
}