/* @media (max-width: 478px){
    .popup__window_type_form{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 72px auto;
    }
} */